button{
    margin-left: 5% !important;
}

form{
    width: 500px !important;
    margin-left: 30% !important;
    margin-top: 5% !important;
    background-color: aqua;
    height: 300px !important;
}